/* GLOBAL */
* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;

}

/* MAIN CSS */
.vglasses__left {
    background-color: #f1f1f1;
    padding: 20px 40px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.vglasses__left .col-4 {
    align-self: center;
}

.vglasses__items {
    cursor: pointer;
}

.vglasses__right {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.vglasses__model {

    background-position: center top;
    background-size: cover;
    height: 600px;

}

.vglasses__model img {
    position: absolute;
    top: 12%;
    left: 15%;
    width: 350px;
    height: 300px;
    opacity: 0.9;
}

.vglasses__model img:nth-child(2) {
    position: absolute;
    top : 23%;
    left: 34%;
    width: 170px;
    height: 55px;
    opacity: 0.9;
}

.vglasses__card {
    position: relative;
    overflow: hidden;
    background-color: white;
}

.vglasses__info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:#F4A460;
    width: 100%;
    color: white;
    padding: 20px;
    /* display: none; */
}
.vglasses__info p{
    font-size: 20px;
}
#glasses {
    transition: all 0.5s;
}

.list-glass {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.list-glass img {
    margin: 20px 0px;
}